.vscode
.vscode-test
node_modules
test/
src/
out/
*.vsix
dist/tests.*

docker/
sample-logs/
images/screenshot1.png
local-install.sh

.gitignore
.gitlab-ci.yml
tsconfig.json
tslint.json
webpack.config.js
vsc-extension-quickstart.md
